.sidebar {
	width: 25%;
	float: left;
	padding-left: 2%;
	

	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}

	img.attachment-full {
		height: auto;
		width: 100%;
	}

	#text-4 {
		font-family: $open-sans;
		font-size: 0.8rem;
	}
	
	h3 {
		margin: 10% 0;
		font-family: $open-sans;
	}


	ul.menu {
		width: 80%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	#recent-posts-2 {
		a {
			font-size: 0.8rem;
		}
	}
}
